services:
  app:
    build:
      context: ./services/app
      dockerfile: Dockerfile
    ports:
      - 8000:3000
    env_file:
      - .env
    volumes:
      - ./services/app:/app
  api:
    build:
      context: ./services/api
      dockerfile: Dockerfile
    ports:
      - 8001:8000
    env_file:
      - .env
    volumes:
      - ./services/api:/app